# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Models
*.pt
*.pth
*.pkl

# Dataset
sign_language/dataset/

# Generated data
sign_language/data/landmarks.csv

# OS files
.DS_Store
Thumbs.db