*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#090C17;

    color:white;

    overflow-x:hidden;
}

a{

    text-decoration:none;

    color:inherit;
}

button{

    cursor:pointer;

    border:none;

    outline:none;
}

ul{

    list-style:none;
}